<div *ngIf="isLoggedIn" style="text-align: center">
  <h1 style="color: red;">{{title}}</h1>
  <h2 style="color: blue;">{{item.wishText}}</h2>
  <h3 style="color: yellowgreen;">{{item.isComplete}}</h3>
</div>

<ol>
  <li *ngFor="let item of items">{{ item.wishText }}</li>
</ol>

<div [ngSwitch]="userRole">
  <p *ngSwitchCase="'admin'">Welcome, Admin!</p>
  <p *ngSwitchCase="'editor'">Hello, Editor!</p>
  <p *ngSwitchCase="'viewer'">Hi, Viewer!</p>
  <p *ngSwitchDefault>Unknown role</p>
</div>

<h5 [ngClass]="{'selected': item.isComplete}">{{ item.wishText }}</h5>

<p [ngStyle]="{ 'color': textColor, 'font-size': fontSize + 'px' }">
  Directives
</p>

<input [(ngModel)]="username" placeholder="Enter your name">
<p>Hello, {{ username }}</p>

<input type="checkbox" (click)="toggleItem(count)"> The count is {{count}}